/** --------------------------------------------------------------
 *  Header
 */


// Size each item in the header
.site-logo-text,
.navbar2 {
    float: left;
    width: 40%;
}

.profile {
    float: left;
    width: 10%;
}

.site-header {
    height: 80px;
    margin-top: 1em;
}

// Site title
.site-logo-text {
    font-size: 2em;

    a {
        text-decoration: none;
        color: black;
    }
}
