/** --------------------------------------------------------------
 *  Header
 */

.site-logo-text {
     .column(3);
     .push(1);
 }

 .navbar2 {
     .column(16);

     li {
         .column(@columns / 9); //number of menuchoices
         text-align: center;
     }
 }

 .profile {
     .column(4);
 }

.flash-wrap img {
    width: 100%;
}

 .breadcrumb-list {
     .column(24);

 }

 .site-header {
     padding-top: @magicNumber;
     padding-bottom: @magicNumber;

//     margin-top: @magicNumber;
     margin-bottom: @magicNumber;
     height: 2 * @magicNumber;
 }
